<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>↓ dashboard ↓</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/cotton/64/000000/radio-2--v1.png"
      title="Radio icon 2 by Icons8"
    />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A website that tells you if your taste in music is basic or not! Link your Spotify account, check out your stats, and compare them with those of your friends!"
    />
    <meta name="keywords" content="Spotify, Node.js, Friends" />
    <meta name="author" content="Nandini P, Sriram K" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      property="og:image:url"
      content="https://img.icons8.com/cotton/64/000000/radio-2--v1.png"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:alt" content="Radio icon 2 by Icons8" />
    <meta property="og:title" content="Ya Basic" />
    <meta
      property="og:description"
      content="A website that tells you if your taste in music is basic or not! Link your Spotify account, check out your stats, and compare them with those of your friends!"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@smolpkg @ps5dedopls" />
    <meta
      name="twitter:image"
      content="https://img.icons8.com/cotton/64/000000/radio-2--v1.png"
    />
    <meta name="twitter:image:width" content="300" />
    <meta name="twitter:image:alt" content="Radio icon 2 by Icons8" />
    <meta
      name="twitter:description"
      content="A website that tells you if your taste in music is basic or not! Link your Spotify account, check out your stats, and compare them with those of your friends!"
    />
    <!-- all bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- add google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style-dashboard.css" />
  </head>

  <body>
    <!-- nav bar starts -->
    <nav class="navbar sticky-top navbar-expand-md">
      <ul class="navbar-nav mx-auto">
        <a class="navbar-brand" href="/">Ya Basic</a>
      </ul>
      <button
        class="navbar-toggler navbar-light"
        type="button"
        data-toggle="collapse"
        data-target=".navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Source Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#privacy">Privacy</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- nav bar ends -->
    <div class="container">
      <div id="login">
        <h1>Ya-Basic</h1>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        <div id="user-profile"></div>
        <div id="oauth"></div>
      </div>
    </div>

    <script id="user-profile-template" type="text/x-handlebars-template">
      <div class="row">
        <div class="col">
          <h3>Hey, {{display_name}}!</h3>
          <!--
        <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
              <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a
                href="{{external_urls.spotify}}"
              >{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a
                href="{{images.0.url}}"
              >{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
        </div>
        -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p id="copied"></p>
          <label for="referralCode">Your Referral Code is:</label>
          <textarea
            rows="1"
            id="referralCode"
            onclick="copyCode()"
            readonly
          >12345</textarea>
        </div>
      </div>
    </script>

    <script id="oauth-template" type="text/x-handlebars-template">
      <dl class="dl-horizontal">
        <!--
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
        <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
        -->
      </dl>
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity=""
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity=""
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity=""
      crossorigin="anonymous"
    ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>

    <script>
      (function() {
        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e,
            r = /([^&;=]+)=?([^&;]*)/g,
            q = window.location.hash.substring(1);
          while ((e = r.exec(q))) {
            hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }

        var userProfileSource = document.getElementById("user-profile-template")
            .innerHTML,
          userProfileTemplate = Handlebars.compile(userProfileSource),
          userProfilePlaceholder = document.getElementById("user-profile");

        var oauthSource = document.getElementById("oauth-template").innerHTML,
          oauthTemplate = Handlebars.compile(oauthSource),
          oauthPlaceholder = document.getElementById("oauth");

        var params = getHashParams();

        var access_token = params.access_token,
          refresh_token = params.refresh_token,
          error = params.error;

        if (error) {
          alert("There was an error during the authentication");
        } else {
          if (access_token) {
            // render oauth info
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });

            $.ajax({
              url: "https://api.spotify.com/v1/me",
              headers: {
                Authorization: "Bearer " + access_token
              },
              success: function(response) {
                userProfilePlaceholder.innerHTML = userProfileTemplate(
                  response
                );

                $("#login").hide();
                $("#loggedin").show();
              }
            });
          } else {
            // render initial screen
            $("#login").show();
            $("#loggedin").hide();
          }
        }
      })();
    </script>
    <script src="/script-dashboard.js"></script>
    <!-- simple analytics begins -->
    <script async defer src="https://sa.ya-basic.co/latest.js"></script>
    <noscript
      ><img
        src="https://sa.ya-basic.co/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
    /></noscript>
    <!-- simple analytics ends -->
  </body>
</html>
