<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>↓ home ↓</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/cotton/64/000000/radio-2--v1.png"
      title="Radio icon 2 by Icons8"
    />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="A website that tells you if your taste in music is basic or not! Link your Spotify account, check out your stats, and compare them with those of your friends!"
    />
    <meta name="keywords" content="Spotify, Node.js, Friends" />
    <meta name="author" content="Nandini P, Sriram K" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      property="og:image:url"
      content="https://img.icons8.com/cotton/64/000000/radio-2--v1.png"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:alt" content="Radio icon 2 by Icons8" />
    <meta property="og:title" content="Ya Basic" />
    <meta
      property="og:description"
      content="A website that tells you if your taste in music is basic or not! Link your Spotify account, check out your stats, and compare them with those of your friends!"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@smolpkg @ps5dedopls" />
    <meta
      name="twitter:image"
      content="https://img.icons8.com/cotton/64/000000/radio-2--v1.png"
    />
    <meta name="twitter:image:width" content="300" />
    <meta name="twitter:image:alt" content="Radio icon 2 by Icons8" />
    <meta
      name="twitter:description"
      content="A website that tells you if your taste in music is basic or not! Link your Spotify account, check out your stats, and compare them with those of your friends!"
    />
    <!-- all bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- add google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <!-- nav bar starts -->
    <nav class="navbar sticky-top navbar-expand-md">
      <ul class="navbar-nav mx-auto">
        <a class="navbar-brand" href="/">Ya Basic</a>
      </ul>
      <button
        class="navbar-toggler navbar-light"
        type="button"
        data-toggle="collapse"
        data-target=".navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Source Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#privacy">Privacy</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- nav bar ends -->
    <!-- content starts -->
    <div class="container">
      <div class="ml-4">
        <div class="row" id="#">
          <div class="col">
            <h3>authenticate</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p>
              <a href="auth/login">
                <button class="form-control" id="login">
                  Login with Spotify
                </button>
              </a>
            </p>
          </div>
        </div>
        <div class="row" id="about">
          <div class="col">
            <h3>about</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11">
            <p>
              We love underrated music! We debated as to whose taste in music is
              more basic, and then we realized, why not make a website for that!
              Any chance to work with new APIs and technologies, we'll take it.
            </p>
            <p>
              The user must give access to their Spotify account. Once granted,
              they can view a general overview of their Spotify stats (their top
              artists and genres). Each user gets a unique referral code, upon
              sharing with a friend, they'll be able to view their friend's
              statistics against their own. Hence, settling the battle once and
              for all, who has the more basic taste in music ;)
            </p>
            <h5>Share your referral code with up to 2 friends!</h5>
          </div>
        </div>
        <div class="row" id="privacy">
          <div class="col">
            <h3>privacy</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11">
            <p>
              At the moment, we store user's information like their Spotify IDs
              and stats. Going further, we'll delete these stats a week after
              the user's first login attempt. This way you wouldn't have to
              worry about you information being misused.
            </p>
            <p>
              Privacy-friendly analytics! We made use of [Simple
              Analytics](https://sa.ya-basic.co), a service that doesn't store
              any personal information about the users and doesn't require us to
              annoy users with "Here, eat a cookie" messages. This provided us
              with a simple dashboard where we can view how ~~many~~ few people
              are using our application!
            </p>
            <p>
              <i
                >By authenticating our application, you are giving us consent to
                store your information in our database. This data will not be
                sold to any third-party applications/trackers.</i
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
    <!-- simple analytics begins -->
    <script async defer src="https://sa.ya-basic.co/latest.js"></script>
    <noscript
      ><img
        src="https://sa.ya-basic.co/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
    /></noscript>
    <!-- simple analytics ends -->
  </body>
  <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity=""
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity=""
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity=""
    crossorigin="anonymous"
  ></script>
  <!-- import the webpage's client-side javascript file -->
  <script src="/script.js" defer></script>
</html>
